/* styles/Global.css */

/* General Styles */
body {
  height: 100%;
  font-family: 'Poppins', sans-serif; /* Fuente moderna */
  margin: 0;
  padding: 0;
  background: url('../assets/images/football-field.png') no-repeat center center fixed; /* Fondo estático */
  background-size: cover; /* Cubre todo el fondo */
  backdrop-filter: blur(10px); /* Desenfoque aplicado al fondo */
  overflow-x: hidden;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  backdrop-filter: blur(10px); /* Desenfoque adicional para los contenedores */
  border-radius: 12px;
  min-height: 79vh;
}

/* Loading and Error Styles */
.loading, .error {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #e7e7e7; /* Color dorado para consistencia */
}

/* General Input Styling */
input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.153); /* Sombra suave */
}

.separator {
  border: none; /* Sin borde */
  height: 1px; /* Altura del separador */
  background-color: #ddd; /* Color de fondo (puedes cambiarlo) */
  margin: 20px 0; /* Espaciado vertical */
  width: 100%; /* Ancho completo */
  max-width: 800px; /* Ancho máximo */
  align-self: center; /* Centra el separador */
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.button:hover {
  background-color: #2980b9;
  transform: translateY(-3px); /* Efecto de movimiento hacia arriba */
}

.button:active {
  background-color: #1e6f99;
  transform: translateY(0); /* Efecto de pulsación */
}

.value {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #e6ffe6; /* Fondo verde claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente pequeño */
  font-weight: 500;
  color: #48714a; /* Texto en verde */
  margin: 10px auto; /* Espacio superior e inferior */
  max-width: 200px; /* Ancho máximo para evitar que se expanda demasiado */
  text-align: center; /* Centrar texto */
}

.value-gray {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #e9e9e9; /* Fondo verde claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente pequeño */
  font-weight: 500;
  color: #494949; /* Texto en verde */
  margin: 10px auto; /* Espacio superior e inferior */
  max-width: 200px; /* Ancho máximo para evitar que se expanda demasiado */
  text-align: center; /* Centrar texto */
}

.money {
  background-color: #e6ffe6; /* Fondo verde claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 1.1rem; /* Tamaño de fuente pequeño */
  font-weight: 500;
  color: #48714a; /* Texto en verde */
  text-align: center; /* Centrar texto */
}


.failed-text {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f9ecec; /* Fondo verde claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente pequeño */
  font-weight: 500;
  color: #533c3c; /* Texto en verde */
  margin: 10px auto; /* Espacio superior e inferior */
  max-width: 200px; /* Ancho máximo para evitar que se expanda demasiado */
  text-align: center; /* Centrar texto */
}

.failed-message {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f9ecec; /* Fondo rojo claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 3px 10px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente pequeño */
  font-weight: 500;
  color: #6a2727; /* Texto en rojo */
  margin: auto; /* Centrar horizontalmente */
  text-align: center; /* Centrar texto */
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  animation: fadeIn 0.4s ease-in-out; /* Añade la animación de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza invisible */
    transform: translateY(-30px) scale(0.1); /* Opcional: inicia ligeramente desplazado hacia arriba */
  }
  to {
    opacity: 1; /* Finaliza visible */
    transform: translateY(0) scale(1); /* Regresa a su posición original */
  }
}



.value-icon {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
  color: #48714a; /* Color del ícono */
}


/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.133); /* Fondo oscuro y semi-translúcido */
  color: white; /* Color de texto blanco */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ancho completo */
  padding: 15px 0; /* Espaciado vertical */
}

.gradient-h1 {
  text-align: center;
  color: #34495e; /* Azul oscuro elegante */
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #5fbf83, #d4e371); /* Gradiente más vibrante */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out infinite; /* Animación de brillo en bucle */
}

@keyframes shine {
  0% { background-position: -200%; }
  100% { background-position: 200%; }
}
